<form [formGroup]="formMarca" (ngSubmit)="onSubmit()" class="formulario">

    <fieldset class="form-fieldset">

        <legend class="form-legend"> CREAR MARCA</legend>

        <!-- ID Producto (oculto solo para edicions)-->

        <div class="row">

            <!-- Nombre Producto -->

            <div class="formulario-col">
                <label for="nombreMarca">Nombre de marca</label>
                <input id="nombreMarca" class="form-control" formControlName="nombreMarca" type="text"
                    placeholder="Ingrese nombre de marca">
            </div>

            <!-- correo -->
            <div class="formulario-col">
                <label for="descripcion">Descripcion</label>
                <input id="descripcion" class="form-control" formControlName="descripcion" type="text"
                    placeholder="Ingrese descripcion de la marca">
            </div>

        </div>


        <div class="row">
            <!-- Campo foto de marca -->
             <div class="formulario-col">
                <label for="archivo"> Imagen marca</label>
                 <input id="archivo" type="file" class="form-control"
                (change)="onFileSelect($event)" accept="image/*">
             </div>
        </div>



        <!-- Botón -->

        <div class="d-grid mt-3">
            <button class="btn btn-primary btn-guardar" type="submit">GUARDAR MARCA</button>
        </div>

    </fieldset>

</form>

